#tony{
	text-align: center;
	background-color: #000;
	font-family: verdana;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px; 
	font-size: 50px;
}
#p{
	font-family: verdana;
}
#tony1{
	border-radius: 2px;
}