#weapons{
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000;
	color: #fff;
	font-size: 50px;
	font-family: verdana;
}
#m4{
	font-family: verdana;
}